<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToptalTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C94C78211E8302AC0036EC52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C94C783D1E8302AD0036EC52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C94C78481E8302AD0036EC52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
